---
import Master from "@layouts/Master.astro";
import Card from "@components/Card.astro";
---

<Master title="Cards | Overview">
  <main id="main" class="container grid grid-cols-1 gap-12">
    <section>
      <header class="prose lg:prose-lg mb-6">
        <h1 id="cards">Cards</h1>
      </header>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <Card
          title="Card With Header And Footer"
          body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
        >
          <footer class="px-4 pb-4 mt-auto" slot="footer">
            <hr />
            Footer text
          </footer>
        </Card>
        <Card
          title="Card With Header, Img And Footer"
          body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
          img="https://source.unsplash.com/AJgFLjnmSs4"
          classes="row-span-2"
        >
          <footer
            class="px-4 pb-4 mt-auto flex justify-between items-center"
            slot="footer"
          >
            <span>Footer text</span>
            <button class="btn">Button</button>
          </footer>
        </Card>
        <Card
          title="Card With Header, Link"
          body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
          classes="h-fit"
          href="#"
        />
      </div>
    </section>
  </main>
</Master>
