---
import Master from "@layouts/Master.astro";
import Card from "@components/Card.astro";

const sections = ["cards", "buttons"];
---

<Master title="Components | Overview">
  <main id="main" class="container grid grid-cols-1 gap-12">
    <section class="prose max-w-none lg:prose-xl">
      <header>
        <h1>Overview</h1>
        <p>
          Here you can see an overview of the components created for the UI kit.
        </p>
      </header>
      <h2>Table of contents</h2>
      <ul class="list not-prose">
        {
          sections.map((item) => (
            <li class="list-none border-b last:border-b-0">
              <a
                href={"#" + item}
                class="text-sm p-3 w-full block transition duration-100 ease-in primary-transition"
              >
                {item.charAt(0).toUpperCase() + item.slice(1)}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <hr />
    <section>
      <header class="prose lg:prose-lg mb-6">
        <h1 id="cards">Cards</h1>
      </header>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <Card
          title="Card With Header And Footer"
          body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
        >
          <footer class="px-4 pb-4 mt-auto" slot="footer">
            <hr />
            Footer text
          </footer>
        </Card>
        <Card
          title="Card With Header, Img And Footer"
          body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
          img="https://source.unsplash.com/AJgFLjnmSs4"
          classes="row-span-2"
        >
          <footer
            class="px-4 pb-4 mt-auto flex justify-between items-center"
            slot="footer"
          >
            <span>Footer text</span>
            <button class="btn">Button</button>
          </footer>
        </Card>
        <Card
          title="Card With Header, Link"
          body="Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar plum sugar plum jelly-o jujubes bonbon dessert carrot cake."
          classes="h-fit"
          href="#"
        />
      </div>
    </section>
    <hr />
    <section>
      <header class="prose lg:prose-lg mb-6">
        <h1 id="buttons">Buttons</h1>
      </header>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <Card classes="max-w-none md:col-span-2">
          <header class="p-4 pb-0">
            <h2 class="mt-0">Default</h2>
          </header>
          <ul class="not-prose px-4 pb-4 my-0 flex gap-4 flex-wrap">
            <li class="list-none"><button class="btn">Primary</button></li>
            <li class="list-none">
              <button class="btn btn-info">Info</button>
            </li>
            <li class="list-none">
              <button class="btn btn-warning">Warning</button>
            </li>
            <li class="list-none">
              <button class="btn btn-danger">Danger</button>
            </li>
            <li class="list-none">
              <button class="btn btn-success">Success</button>
            </li>
          </ul>
        </Card>
        <Card classes="max-w-none md:col-span-2">
          <header class="p-4 pb-0">
            <h2 class="mt-0">Default</h2>
          </header>
          <ul class="not-prose px-4 pb-4 my-0 flex gap-4 flex-wrap">
            <li class="list-none"><button class="btn">Primary</button></li>
            <li class="list-none">
              <button class="btn btn-info-outline">Info</button>
            </li>
            <li class="list-none">
              <button class="btn btn-warning-outline">Warning</button>
            </li>
            <li class="list-none">
              <button class="btn btn-danger-outline">Danger</button>
            </li>
            <li class="list-none">
              <button class="btn btn-success-outline">Success</button>
            </li>
          </ul>
        </Card>
        <Card classes="max-w-none">
          <header class="p-4 pb-0">
            <h2 class="mt-0">Button Sizes</h2>
          </header>
          <ul
            class="not-prose px-4 pb-4 my-0 flex gap-4 flex-wrap items-center"
          >
            <li class="list-none"><button class="btn btn-sm">Small</button></li>
            <li class="list-none">
              <button class="btn">Normal</button>
            </li>
            <li class="list-none">
              <button class="btn btn-lg">Large</button>
            </li>
          </ul>
        </Card>
        <Card classes="max-w-none">
          <header class="p-4 pb-0">
            <h2 class="mt-0">Button States</h2>
          </header>
          <ul
            class="not-prose px-4 pb-4 my-0 flex gap-4 flex-wrap items-center"
          >
            <li class="list-none">
              <button class="btn">Normal</button>
            </li>
            <li class="list-none">
              <button class="btn" disabled>Disabled</button>
            </li>
            <li class="list-none">
              <button
                class="btn shadow-none hover:shadow-none bg-black text-white"
                >Active</button
              >
            </li>
          </ul>
        </Card>
        <Card classes="max-w-none md:col-span-2">
          <header class="p-4 pb-0">
            <h2 class="mt-0">Icon Button</h2>
          </header>
          <ul class="not-prose px-4 pb-4 my-0 flex gap-4 flex-wrap">
            <li class="list-none">
              <button class="btn btn-icon"
                ><i class="ico">home</i> Primary</button
              >
            </li>
            <li class="list-none">
              <button class="btn btn-info btn-icon"
                ><i class="ico">info</i> Info</button
              >
            </li>
            <li class="list-none">
              <button class="btn btn-warning btn-icon"
                ><i class="ico">warning</i> Warning</button
              >
            </li>
            <li class="list-none">
              <button class="btn btn-danger btn-icon"
                ><i class="ico">error</i> Danger</button
              >
            </li>
            <li class="list-none">
              <button class="btn btn-success btn-icon"
                ><i class="ico">done</i> Success</button
              >
            </li>
          </ul>
        </Card>
        <Card classes="max-w-none">
          <header class="p-4 pb-0">
            <h2 class="mt-0">Icon Only</h2>
          </header>
          <ul class="not-prose px-4 pb-4 my-0 flex gap-4 flex-wrap">
            <li class="list-none">
              <button class="btn btn-icon"><i class="ico">home</i></button>
            </li>
            <li class="list-none">
              <button class="btn btn-info btn-icon"
                ><i class="ico">info</i></button
              >
            </li>
            <li class="list-none">
              <button class="btn btn-warning btn-icon"
                ><i class="ico">warning</i></button
              >
            </li>
            <li class="list-none">
              <button class="btn btn-danger btn-icon"
                ><i class="ico">error</i></button
              >
            </li>
            <li class="list-none">
              <button class="btn btn-success btn-icon"
                ><i class="ico">done</i></button
              >
            </li>
          </ul>
        </Card>
      </div>
    </section>
    <hr />
  </main>
</Master>
