---
import Master from "@layouts/Master.astro";
---

<Master title="404 | Page not found">
  <main id="main" class="container h-screen grid place-items-center">
    <header class="flex flex-col justify-center items-center">
      <h1 class="text-8xl">404</h1>
      <p class="text-2xl mb-4">The page you are looking for can’t be found.</p>
      <a href="/" class="btn">Go home?</a>
    </header>
  </main>
</Master>
