---
export interface Props {
  title?: string;
  body?: string;
  img?: string;
  classes?: string;
}

const { classes, img, title, body } = Astro.props;
---

<article
  class:list={[
    "border-2 rounded-md max-w-none lg:max-w-prose prose prose-a:no-underline shadow-lg flex flex-col gap-4",
    classes,
  ]}
>
  <header class="p-4 pb-0">
    <h2 class="my-0">
      {title}
    </h2>
  </header>
  <p class="px-4 my-0">{body}</p>
  <slot name="before-image" />
  {img && <img class="my-0" src={img} alt="" />}
  <slot name="after-image" />
</article>
