---
const pages = [
  { name: "Om mig", url: "#about" },
  { name: "Evner", url: "#skills" },
  { name: "Resumé", url: "#resume" },
  { name: "Kontakt", url: "#contact" },
];
---

<header class="fixed top-0 left-0 right-0 z-10 bg-white border-b-2">
  <div
    class="container flex flex-wrap items-center justify-between py-4 mx-auto"
  >
    <a href="#hero" class="text-2xl font-display">ML</a>
    <button
      id="navbarBtn"
      type="button"
      class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-black rounded-lg lg:hidden focus:outline-none focus:ring-2 focus:ring-black"
      aria-controls="navbar-solid-bg"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"></path>
      </svg>
    </button>
    <nav
      class="hidden w-full lg:block lg:w-auto"
      id="navbar"
      aria-label="Main Menu"
    >
      <ul
        class="flex flex-col gap-2 mt-4 font-medium rounded-lg lg:items-center lg:gap-6 lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent"
      >
        {
          pages.map((page) => (
            <li class="[&>a]:last:btn [&>a]:last:btn-sm [&>a]:last:btn-success [&>a]:last:hover:no-underline">
              <a
                href={page.url}
                class="block py-2 rounded font-display lg:p-0"
              >
                {page.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  const navbarLinks = document.querySelectorAll("a[href]");
  const navbarBtn = document.querySelector("#navbarBtn");
  const navbar = document.querySelector("#navbar");

  navbarBtn?.addEventListener("click", () => {
    if (!navbar?.classList.contains("hidden")) {
      navbar?.classList.add("hidden");
      navbar?.classList.remove("flex");
    } else {
      navbar?.classList.remove("hidden");
      navbar?.classList.add("flex");
    }
  });

  navbarLinks.forEach((l) => {
    l.addEventListener("click", () => {
      if (!navbar?.classList.contains("hidden")) {
        navbar?.classList.add("hidden");
      }
    });
  });
</script>
